
/* Base */
html, body { height: 100%; }

ul.langswitcher {
    padding-left: 20px;
    float: left;
    margin: 0;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 1rem !important;
    display: inline-block;
}

ul.langswitcher li {
    list-style: none;
    display: inline-block;
}

ul.langswitcher a {
    padding: 8px 0px;
    font-size: 13px;
    line-height: 1.35;
    display: inline-block;
}



